{layout '@forum.latte'}

{block #subtitle}
{*{$topic->title}*}
{/block}

{block forumContent}

    <div class="row">
        <div class="btn-group">
            <a n:href="Forum:addtopic $topicId" class="btn btn-default">add topic</a>
            <a n:href="Forum:addthread $topicId" class="btn btn-default">add thread</a>
        </div>
    </div>

    <h3>Topics</h3>

    {if $topics !== false}
        <div class="list">
        {foreach $topics as $topic}
            <a n:href="Forum: , id=>$topic->id" class="topic list-item" id="topic-{$topic->id}">
                <div class="title">{$topic->name}</div>
                <div class="text-content">{$topic->description}</div>
            </a>
        {/foreach}
        </div>
    {else}
        <p>Nejsou žádná témata.</p>
    {/if}

    <h3>Threads</h3>
    {if $threads !== false}
        <div class="list">
            {foreach $threads as $thread}
                <a n:href="Forum:thread, id=>$thread->id" class="list-item thread" id="thread-{$thread->id}">
                    <div class="title">{$thread->title}</div>
                    <div class="text-content">{$thread->description}</div>
                </a>
            {/foreach}
        </div>
    {else}
        <p>Nejsou žádná vlákna.</p>
    {/if}
{/block}