{layout '@forum.latte'}

{block subtitle}
{$thread->title}
{/block}

{block forumContent}
<div>
    <div class="list">
        {foreach $thread->posts as $post}
            <div class="post list-item" id="post-{$post->id}">
                <div class="title">{$post->author->login}</div>
                <div class="text-content">{$post->content}</div>
            </div>
        {/foreach}
    </div>


</div>
{/block}