{block #submenu}
                <ul class="nav nav-pills">
                    <li>
                        <a n:href="Home:">Home</a>
                    </li>
                    <li>
                        <a n:href="Home:news">News</a>
                    </li>
                    <li>
                        <a n:href="Home:about">About</a>
                    </li>
                    <li>
                        <a n:href="Home:creators">Creators</a>
                    </li>
                </ul>
{/block}