{block #title}
    Účel webu
{/block}
{block #content}
    <p>Toto je komunitní web původně zamýšlený jako rozšíření skupiny metalová seznamka. Zatímco ve skupině se chat řeší externí aplikací,
        kterou jsem viděl jednou a hned jak se načetla, jsem z ní zase utekl.</p>
    <p>Dále je ve skupině na facebooku pouze jeden proud informací, člověk často přehlídne to,
        co ho zajímá. Ať už to jsou osoby hledající někoho na seznámení, plánované akce, nebo jen nějaký plácy do větru, jako post písničky,
        nadhození nějakého jiného téma, či změna pravidel, či co.</p>
    <p>Proto jsem se rozhodl vytvořit samostatnou stránku, která by umožňovala vytvořit či připojit se do diskuse na určíté téma, najít určitou osobu,
       přidat události obdobné těm na facebooku.. Ještě uvidíme, jaké možné funkcionality mě napadnou,
       či se ke mě donesou a co z toho se rozhodnu implementovat.</p>
    <p>Zmínil jsem vyhledávání.. Rád v brzké budoucnosti implementoval možnost vyhledávání jen v okolí určité lokality (pravděpodobně
        v okolí lokality, kde se člověk nachází). Neni to teda funkce nijak převratná, seznamky ji běžně mají, nicméně ta naše metalová
        seznamka na facebooku ji nemá. :-P</p>
    <p>
        Navíc nás všechny spojuje metal, hudba. Takže bych tu rád časem propojil účty s last.fm účty. Né všichni last.fm používají.
    </p>
    <p>Tak zatim jste se dočetli, jak to tu + - má jednou vypadat.</p>
{/block}