{block title}
    Změna informací
{/block}

{block content}
<div class='changesGroup'>
    <div class="panel-group" id="huhpassChange">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#passChange">
                        Změna hesla
                    </a>
                </h4>
            </div>
            <div id="passChange" class="panel-collapse collapse">
                <div class="panel-body">
                    {control passChangeForm}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="huh-infoChange">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#infoChange">
                        Změna informací
                    </a>
                </h4>
            </div>
            <div id="infoChange" class="panel-collapse collapse">
                <div class="panel-body">
                    {control dataChangeForm}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}