<table>
    <thead>
        <th>
            Levy sloupecek
        </th>
        <th>
            Pravy sloupecek
        </th>
    </thead>
    <tbody>
        <td>
            1. hodnota
        </td>
        <td>
            2. hodnota
        </td>
    </tbody>
</table>