<table>
   {foreach $thread->getContribs() as $con}
       <tr>
           <td>
               <div>
                   <table>
                       <thead>
                           <tr>
                               <th>Profil</th>
                               <th>Příspěvek</th>
                           </tr>
                       </thead>
                   <tbody>
                       <tr>
                           <td> <!-- User td -->
                               {$con->getUserid()}
                           </td>
                           <td> <!-- Text td -->
                               {$con->getContence()}
                           </td>
                           </tr>
                   </tbody>
                       <tfoot>
                           <tr>
                               <th>{$con->getTime()}</th>
                               <th></th>
                           </tr>
                       </tfoot>
                   </table>
               </div>
           </tr>
       </td>
   {/foreach}
</table>