{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
    <title>{include #title}</title>

    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap-override.css" />
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/main.css" />
</head>
<body>
<nav class="menu fixed-top" role="navigation">
    <div class="container">
        <ul>
            <li>
                <a n:href="Home:">Home</a>
            </li>
            <li>
                <a n:href="Forum:">Forum</a>
            </li>
            {if !$user->isLoggedIn()}
            <li>
                <a n:href="Sign:in">Přihlášení</a>
            </li>
            <li>
                <a n:href="Sign:register">Registrace</a>
            </li>
            {else}
             <li>
                <a n:href="Sign:logout">Odhlásit</a>
             </li>
            {/if}
        </ul>
    </div>
</nav>

<div class="container">


    <div class="submenu">
        <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {includeblock $_presenter->name."/submenu.latte"}
            </div>
        </div>
    </div>

    <div class="content">

        <div n:if="count($flashes)>0" id="flashmessages">
            <div n:foreach="$flashes as $flash"
                 class='alert alert-{$flash->type}'>{$flash->message}
            </div>
        </div>

        {include #content}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div id="wrap">
    <div class="panel footer">
        <div class="container">&copy; Huholoman 2013</div>
    </div>
</div>

{block scripts}
<script src="{$basePath}/js/jquery-2.1.0.min.js"></script>
    <script src="{$basePath}/js/bootstrap.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/main.js"></script>
{/block}

</body>
</html>


<!-- Nette Debug Bar -->

<div id="nette-debug"></div>
