body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.menu {
    margin: 0px;
    width: 100%;
    height: 50px;
    background-color: #999;
    position: absolute;
    top: 0;
    left: 0;
}

.menu ul li {
    display: inline;
    margin: 0 10px;
}

.submenu {
    width: 200px;
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #999;
    padding: 20px;
}

.submenu ul {
    list-style: none;
    padding: 0px;
}

.content {
    padding: 50px 0px;
}